{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login_style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <!-- <link rel="stylesheet" href="/todoapp/todoapp_users/fonts/fontawesome-free-6.2.0-web"> -->
    <title>Sign in</title>
</head>

<body>
<div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Account Email" required><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Account Password" required><br><br>
        <button type="submit" class="login_submit" value="Submit">Login</button>
    </form>
</div>

</body>
</html>