{% autoescape off %}

    Dear {{ email }},
    <br>
    We have received a request to change the password for your user in the {{ site_name }} system.
    If you made this request, please click the link bellow to change the password.
    <br>
    <br>
    <button onclick="window.open('{{ protocol }}://{{ domain }}/user/password-validation?token={{ token }}','_blank')"
            type="button">Activate
    </button>
    <br>
    <br>
    If you were not the author of the request, then please ignore this message.
    <br>
    <br>
    Best Regards,
    <br>
    <br>
    {{ site_name }} team

{% endautoescape %}