{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_profile.css' %}"/>
    <title>Your profile!</title>
</head>
<body>
<div class="main">
    <h1 class="profile_information">Profile Information</h1>
    <form id="updateProfile" method="post" action="{% url 'update_user' %}">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ user.email }}"><br><br>
        <label for="first_name">First Name</label>
        {% if user.first_name %}
            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br><br>
        {% else %}
            <input type="text" id="first_name" name="first_name" placeholder="Introduce your first name"><br><br>
        {% endif %}
        <label for="last_name">Last Name</label>
        {% if user.last_name %}
            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br><br>
        {% else %}
            <input type="text" id="last_name" name="last_name" placeholder="Introduce your last name"><br><br>
        {% endif %}
        <label for="username">Username</label>
        {% if user.username %}
            <input type="text" id="username" name="username" value="{{ user.username }}"><br><br>
        {% else %}
            <input type="text" id="username" name="username" placeholder="Introduce your username"><br><br>
        {% endif %}
        <button type="submit" class="update_description" value="description">Update</button>
    </form>
    {% if message %}
        <h1 class="success_message">{{ message }}</h1>
    {% elif error %}
        <h1 class="error_message">{{ error }}</h1>
    {% else %}
        <br>
    {% endif %}
</div>
</body>
</html>