    body {
        background-color: #aabfe7;
        font-family: 'Ubuntu', sans-serif;
    }


    .main {
        background-color: #FFFFFF;
        width: 35%;
        height: 40%;
        margin: 10em auto;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 1.5em;
        box-shadow: 5px 11px 35px 2px rgba(0, 0, 0, 0.14);
        text-align: center;

    }

    .form-data {
        display: flex;
        flex-direction: row;
        padding-left: 1em;
    }

    .user-profile-picture {
        padding-left: 1em;
        width: 50%;
    }