{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/task.css' %}"/>
    <title>Task {{ task.title }}</title>
</head>
<body>
<div class="main">
    <div class="task-description">
        <h2 class="task-title">{{ task.title }}</h2>
        <h2 class="task-id">ID: {{ task.id }}</h2>
        <form id="updateTask" method="post" action="{% url 'update_task' task.id %}">
            {% csrf_token %}
            <textarea class="description" style="resize: none" name="description">{{ task.description }}</textarea><br><br>
            <button type="submit" class="update_description" value="description">Update Description</button>
        </form>
        <{% if message %}
            <h1 class="successful_description_update">Description updated successfully</h1>
        {% else %}
        {% endif %}
        <br>
        <br>
        <a href="{% url 'delete_task_by_id' task.id %}"
           class="delete-task"><button>Delete task</button>
        </a>
        <p></p>
        <a href="{% url 'list_of_tasks' %}">
            <button>Return to list of tasks</button>
        </a>
    </div>
</div>
</body>
</html>
